@model SistemaVendas.Models.VendedorModel

@{
    ViewData["Title"] = "Cadastro de Vendedor";
}

<h2>@ViewData["Title"]</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Vendedor" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@try { @ViewBag.Vendedor.Id } catch {}" />

            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" value="@try { @ViewBag.Vendedor.Nome } catch {}" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" value="@try { @ViewBag.Vendedor.Email } catch {}" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-success">Registrar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retorna Lista</a>
</div>

