
@{
    ViewData["Title"] = "Produto excluído com sucesso";
}

<h2>@ViewData["Title"]</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Retorna Lista</button>

<script>
    
    function Voltar()
    {
        window.location.href = "../../Produto/Index";
    }

</script>